<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head :: adminHead"></head>
<body>
<script type="text/javascript">
  $(document).ready(function(){
  });
</script>
<div th:replace="admin/common/top::header"></div>
<div id="maininner"><!-- maininner (s)-->
<div class="cc-tab-con">
  <a href="javascript:tabChange('1');" class="cc-tab-item">사용자관리</a>		<!--// on : 현재 위치 //-->
  <a href="javascript:void(0);" class="cc-tab-item on">권한관리</a>
  <a href="javascript:tabChange('3');" class="cc-tab-item">리소스관리</a>
</div>
<div class="tbl_wrp">
<form class="form-horizontal" th:action="@{/admin/roles}" method="post" th:object="${role}">
  <input th:type="hidden" name="id" th:value="*{id}" />
  <div class="form-group">
    <label for="roleName" class="col-sm-2 control-label">권한명</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-large" name="roleName" id="roleName" placeholder="roleName" th:value="*{roleName}">
    </div>
  </div>

  <div class="form-group">
    <label for="roleDesc" class="col-sm-2 control-label">권한설명</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-large" name="roleDesc" id="roleDesc" placeholder="roleDesc" th:value="*{roleDesc}">
    </div>
  </div>
  <div class="form-group">
    <label for="roles" class="col-sm-2 control-label">부모 권한</label>
    <div class="col-sm-10" th:each="r: ${roles}">
      <input th:type="checkbox" name="parentRoleName" class="parent-role-checkbox" id="roles"
             th:text="${r.roleName}"
             th:value="${r.roleName}"
             th:checked="${r.getRoleName().equals(role.parentRoleName)} ? 'true' : 'false'" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="Submit" class="btn btn-dark btn-lg">등록</button>
      <a class="btn btn-dark btn-lg" style="margin:10;" href="/admin/roles">목록 </a>
    </div>
  </div>

</form>
</div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    // 부모 권한 체크박스들을 선택할 때 이벤트 처리
    $('.parent-role-checkbox').on('change', function () {
      // 체크된 부모 권한 체크박스들을 가져옴
      var checkedParentRoles = $('.parent-role-checkbox:checked');

      // 하나 이상의 부모 권한이 선택된 경우
      if (checkedParentRoles.length > 1) {
        alert("부모 권한은 하나만 선택 가능합니다.");
        // 모든 부모 권한 체크박스의 선택을 해제
        $('.parent-role-checkbox').prop('checked', false);
      }
    });
  });
</script>
</body>
</html>