
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>text vs utxt</h1>
    <!-- Hello <b>Spring</b>가 data임!! -->
    <ul>
        <li>th:text = <span th:text="|${data}는 뭘까?|"></span></li>
        <li>th:text = <span th:utext="${data}"></span></li>
    </ul>
    <h1><span th:inline="none">[[...]] vs [(...)] </span></h1>
    <ul>
        <li><span th:inline="none">[[...]]</span>[[${data}]]</li>
        <li><span th:inline="none">[[...]]</span>[(${data})]</li>
        <li><span th:inline="none">[[...]]</span>[[54321]]</li>
    </ul>

</body>
</html>